
.main-footer {
    text-align: center;
    padding: 2rem;
    border-top: 1px solid var(--color-destacado);
    p {
        font-family: var(--font-destacado);
        font-size: .9rem;
        line-height: 1.5em;
    }
}