.fotoslider {
    &__titulo {
        font-family: var(--font-destacado);
        font-size: 1.4rem;
        margin: .5rem 0;
        font-weight: bold;
    }
    &__contenedor {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
        position: relative;
        &__slider {
            display: flex;
            margin-left: -100%;
            transition: ease .3s;
            &__section {
                width: 100%;
                max-width: 100%;
                height: 0;
                position: relative;
                img {
                    width: 100%;
                    max-width: 100%;
                    object-fit: cover;
                    display: block;
                    position: absolute;
                }
                figcaption {
                    position: absolute;
                    bottom: -1em;
                    left: 0;
                    right: 0;
                    height: 0;
                    transition: all .8s;
                    padding: .5em 1em;
                    background: rgba(0,0,0,.7);
                    color: white;
                    font-family: var(--font-destacado);
                }
                .togCheck {
                    display: none;
                }
                .togButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 999;
                    margin: 0 auto -50px auto;
                    width: 70px;
                    height: 50px;
                    background: rgba(0,0,0,.7);
                    transform: translateY(-58px);
                    margin-bottom: -50px;
                    border-radius: 35px 35px 0 0;
                    &:before {
                        content: "";
                        display: inline-block;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid white;
                        transition: ease .3s; 
                    }
                }
                .togCheck:checked + figcaption {
                    height: auto;
                    max-height: 100%;
                    bottom: 0;
                }
                
                .togCheck:checked  + figcaption > .togButton {
                    &:before {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        &__btn {
        position: absolute;
        width: 40%;
        height: 80%;
        top: 0;
        &.right {
            right: 0;
        }
        &.left {
            left: 0;
        }
        color: transparent;
        }
    }
    &__lista-sliders {
        list-style: none;
        margin: 0;
        padding: 0;
        .menu-sliders {
            position: relative;
            margin: 0;
            padding: 1rem;
            &__boton {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: transparent;
                border: none;
                padding: 0;
                margin: 0;
                cursor: pointer;
            }
            figure {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-family: var(--font-destacado);
                img {
                    flex-basis: 40%;
                    width: 40%;
                    margin: 0 .5rem 0 0;
                }
                figcaption {
                    flex: 1 1 0;
                }
            }
            &:hover {
                background: rgba(var(--color-alfa-a),.1);
            }
        }
    }
    .lista-sliders-scroll {
        width: 100%;
        height: 300px;
        overflow-y: auto;
        position: relative;
        cursor: pointer;
    }
    &__boton {
		width: 0;
		height: 0;
		overflow: hidden;
		border: none;
	}

    @media screen and (min-width: 728px) {
        &__contenedor {
            &__slider {
                &__section {
                    figcaption {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: .5em 1em;
                        background: rgba(var(--color-alfa-b),.8);
                        color: white;
                        height: auto;
                        margin: 0;
                        opacity: 1;
                        visibility: visible;
                        .togButton {
                            display: none;
                        }
                    }
                }
            }
            &__btn {
                transform: translateY(-50%);
                top: 50%;
                width: 40px;
                height: 40px;
                background: rgba(var(--color-alfa-a),.5);
                border-radius: 50%;
                cursor: pointer;
                transition: ease .3s;
                display: flex;
                justify-content: center;
                align-items: center;
                &.right {
                    right: 10px;
                    &:after {
                        content: "";
                        display: inline-block;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 18px solid black;
                        transition: ease .3s; 
                        margin-left: 5px;
                    }
                }
                &.left {
                    left: 10px;
                    &:after {
                        content: "";
                        display: inline-block;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 18px solid black;
                        transition: ease .3s; 
                        margin-right: 5px;
                    }
                }
                &:hover {
                    background: white;
                }
            }
        }
        &__lista-sliders {
            width: 100%;
            overflow-y: hidden;
            display: flex;
            position: relative;
            cursor: pointer;
            &.active {
              cursor: grabbing;
            }
            &::-webkit-scrollbar {
              display: none;
            }
            .menu-sliders {
                width: 250px;
                min-width: 250px;
                figure {
                    flex-direction: column;
                    align-items: flex-start;
                    img {
                        flex-basis: 100%;
                        width: 100%;
                        margin: 0 0 .3rem 0;
                        border-radius: 5%;
                        overflow: hidden;
                    }
                    figcaption {
                        width: 100%;
                    }
                }
            }

        }  
        .lista-sliders-scroll { 
            height: auto;
            overflow-y: hidden;
        }
        
		&__boton {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: rgba(var(--color-alfa-a), .3);
			overflow: visible;
			position: absolute;
			z-index: 9;
			top: 40%;
			justify-content: center;
			align-items: center;
			&:before {
				content: "";
				display: block;
				width: 0;
				height: 0;
					border-style: solid;
			}
			cursor: pointer;
			&--left {
				left: 10px;
				&:before {
					margin-right: 4px;
					border-width: 12px 21px 12px 0;
					border-color: transparent white transparent transparent;
				}
			}
			&--right {
				right: 10px;
				&:before {
					margin-left: 4px;
					border-width: 12px 0 12px 21px;
					border-color: transparent transparent transparent white;
				}
			}
			&:hover {
                background: rgba(var(--color-alfa-a), .6);
			}
		}
    }  

}