/* CONTENIDO */

.main-container {
    width: 100%;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
h3 {
    font-size: 1.4rem;
}
.full-width {
    width: 100%;
    max-width: 100%;
}
.max-width {
    max-width: 100%;
    margin: auto;
}
.d-flex {
    display: flex;
}
.bg-color {
    background-color: var(--color-bg);
}
.bg-destacado {
    background-color: var(--color-destacado);
}
.py-1 {
    padding: 2rem .5rem
}
.py-2 {
    padding: 2rem 1rem;
}
.align-center {
    text-align: center;
}
.wide {
    height: 56.25%;
    overflow: hidden;
}

.about {
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

@media screen and (min-width: 540px) {
    .max-width {
        max-width: 520px;
    }
    .py-sm-0 {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 728px) {
    .max-width {
        max-width: 720px;
    }
    .about {
        background-size: cover;
        background-position: center;
    }
}

@media screen and (min-width: 960px) {
    .max-width {
        max-width: 954px;
    }
}

@media screen and (min-width: 1028px) {
    .max-width {
        max-width: 1024px;
    }
    h2 {
        font-size: 3rem;
    }
}


@media screen and (min-width: 1280px) {
    .max-width {
        max-width: 1260px;
    }
}