/* HEADER */

.header {
    width: 100%;
    margin: auto;
}
.main-header {
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
.top-logo {
    width: 260px;
}
.top-logo img {
    width: 100%;
}
.burger {
    width: 50px;
    padding: 0 10px;
    cursor: pointer;
    >div {
        background: var(--color-text);
        height: 2px;
        width: 30px;
        margin: 7px 0;
    }
    &.cerrar {
        >div {
            &:nth-child(2) {
                display: none;
            }
            &:first-child {
                transform: rotate(45deg) translate(7px);
            }
            &:last-child {
                transform: rotate(-45deg) translate(5px);
            }
        }
    }
}

/* MENU */

nav {
    width: 100%;
    background-color: var(--color-destacado);
}
.nav-container {
    position: relative;
}
.nav-container ul {
    background-color: var(--color-destacado);
    width: 200px;
    list-style: none;
    font-family: var(--font-destacado);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
}
.nav-container ul.mostrar {
    height: auto;
}
.nav-container ul li {
    margin: 0 .5rem;
}
.nav-container ul li a {
    color: white;
    display: inline-block;
    padding: .5rem;
}
.nav-container ul li a:hover {
    color: var(--color-bg);
}


@media screen and (min-width: 540px) {
    .main-header {
        padding: 1rem 0;
    }
    .burger {
        padding: 0;
    }
    .top-logo {
        width: 300px;
    }
}

@media screen and (min-width: 728px) {
    .main-header {
        justify-content: center;
    }
    .top-logo {
        width: 400px;
    }
    .burger {
        display: none;
    }
    .nav-container ul {
        display: flex;
        justify-content: center;
        list-style: none;
        font-family: var(--font-destacado);
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        position: static;
        height: auto;
        overflow: visible;
         li {
            margin: 0 .5rem;
        }    
    }
}
