@import "fonts.scss";
@import "variables.scss";
@import "reset.scss";
@import "general.scss";
@import "header.scss";
@import "footer.scss";




/* CONTENIDO --> APERTURA PRINCIPAL */
.about {
    background-image: url('images/genocidas-ante-tribunal.jpg');
    padding: 64% 5% 5% 5%;
    p {
        border-radius: 3px;
        padding: 1.5rem;
        font-size: 1.2rem;
        background: rgba(var(--color-alfa-b),.5);
        border: 1px solid  rgba(var(--color-alfa-a),.15);
    }
}

/* CONTENIDO --> MULTIMEDIA */
.multimedia {
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    p {
        font-size: 1.2rem;
        line-height: 140%;
        margin: 1rem 0 0 0;
    }
    &__container {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        position: relative;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            left: 0;
        }
    }
    &__text-content {
        padding: 1rem;
    }
}


/* CONTENIDO -->  TRES LINKS A CONTENIDOS */ 

.contenido-base {
    background: var(--color-destacado);
    border-radius: 5px;
    overflow: hidden;
    margin: 1.5rem 0;
    figure {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    &:hover {
        box-shadow: 0 3px 20px 10px rgba(var(--color-alfa-b),1);
        figure img {
            transform: scale(1.03);
        }
    }
}

.contenido-base a h3 {
    color: var(--color-text);
    padding: .5rem;
}


/* CONTENIDO --> DESARROLLO LANDINGS */
.item-landing-a {
    width: 100%;
    figure {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
     .text-content {
        font-size: 1.2rem;
        line-height: 140%;
        p {
            margin: 0 0 1rem 0;
        }
        a {
            color: var(--color-bg);
            font-weight: bold;
            padding-left: .3rem;
            padding-right: .3rem;
            background: rgba(var(--color-alfa-a),.8);
            &:hover {
                background: rgba(var(--color-alfa-a),1);
            }
        }
    }
}

/* FOOTER */




@media screen and (min-width: 540px) {
    .multimedia {
        width: 80%; 
    }
}

@media screen and (min-width: 728px) {
   
    .about {
        padding: 25% 10% 5% 10%;
        p {
            border-radius: 3px;
            padding: 1.5rem;
            font-size: 1.4rem;
        }
    }

    .contenido-general {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }

    .desarrollo-item {
        .item-landing-a {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3,1fr);
            figure {
                grid-column: 1/2;
            }
            .text-content {
                grid-column: 2/4;
                columns: 2;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .multimedia {
        width: 70%;
    }
}

@media screen and (min-width: 1028px) {
    .contenido-general {
        gap: 2rem;
    }
    .about p {
        font-weight: bold;
    }
}

@media screen and (min-width: 1280px) {
    .about p {
        font-size: 1.7rem;
    }
}





@import "video-box.scss";
@import "fotoslider.scss";