@import "fonts.scss";
@import "variables.scss";
@import "reset.scss";
@import "general.scss";
@import "header.scss";
@import "footer.scss";


.main-container {
    width: 100%;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
h3 {
    font-size: 1.4rem;
}

/* CONTENIDO --> APERTURA PRINCIPAL */
.about {
    background-image: url('images/alegato-cenital.jpg');
    padding: 50% 5% 5% 5%;
    h1 {
        border-radius: 3px;
        padding: 0 .5rem;
        display: inline;
        font-size: 2.4rem;
        text-align: center;
        background: rgba(var(--color-alfa-b),.5);
        border: 1px solid  rgba(var(--color-alfa-a),.15);
    }
}

@media screen and (min-width: 728px) {
    .about {
        padding: 30% 10% 5% 10%;
        h1 {
            font-size: 3rem;
        }
    }
}
@import "video-box.scss";