html,
body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-general);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: ease .3s;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: var(--font-general);
}
a {
    text-decoration: none;
    border: none;
}