:root {
    --color-text: white;
    --color-bg: #171717;
    --color-destacado: #e13939;
    --color-alfa-a: 255,255,255;
    --color-alfa-b: 0,0,0;
    --font-general: 'Base', 'Base-fallback';
    --font-destacado: 'Destacado', 'Destacado-fallback';
}