@font-face {
  font-family: "Destacado-fallback";
  size-adjust: 113.4%;
  ascent-override: 75%;
  src: local("Arial");
}
@font-face {
  font-family: "Base-fallback";
  size-adjust: 111.19%;
  ascent-override: 92%;
  src: local("Times New Roman");
}
@font-face {
  font-family: "Destacado";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-VariableFont_wght.woff") format("woff");
}
@font-face {
  font-family: "Base";
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff") format("woff");
}
@font-face {
  font-family: "Destacado";
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-Italic-VariableFont_wght.woff") format("woff");
}
@font-face {
  font-family: "Base";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.woff2") format("woff2"), url("../fonts/PlayfairDisplay-VariableFont_wght.woff") format("woff");
}
:root {
  --color-text: white;
  --color-bg: #171717;
  --color-destacado: #e13939;
  --color-alfa-a: 255,255,255;
  --color-alfa-b: 0,0,0;
  --font-general: "Base", "Base-fallback";
  --font-destacado: "Destacado", "Destacado-fallback";
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-general);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: var(--font-general);
}

a {
  text-decoration: none;
  border: none;
}

/* CONTENIDO */
.main-container {
  width: 100%;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.max-width {
  max-width: 100%;
  margin: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-color {
  background-color: var(--color-bg);
}

.bg-destacado {
  background-color: var(--color-destacado);
}

.py-1 {
  padding: 2rem 0.5rem;
}

.py-2 {
  padding: 2rem 1rem;
}

.align-center {
  text-align: center;
}

.wide {
  height: 56.25%;
  overflow: hidden;
}

.about {
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

@media screen and (min-width: 540px) {
  .max-width {
    max-width: 520px;
  }

  .py-sm-0 {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 728px) {
  .max-width {
    max-width: 720px;
  }

  .about {
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 960px) {
  .max-width {
    max-width: 954px;
  }
}
@media screen and (min-width: 1028px) {
  .max-width {
    max-width: 1024px;
  }

  h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .max-width {
    max-width: 1260px;
  }
}
/* HEADER */
.header {
  width: 100%;
  margin: auto;
}

.main-header {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.top-logo {
  width: 260px;
}

.top-logo img {
  width: 100%;
}

.burger {
  width: 50px;
  padding: 0 10px;
  cursor: pointer;
}
.burger > div {
  background: var(--color-text);
  height: 2px;
  width: 30px;
  margin: 7px 0;
}
.burger.cerrar > div:nth-child(2) {
  display: none;
}
.burger.cerrar > div:first-child {
  -webkit-transform: rotate(45deg) translate(7px);
          transform: rotate(45deg) translate(7px);
}
.burger.cerrar > div:last-child {
  -webkit-transform: rotate(-45deg) translate(5px);
          transform: rotate(-45deg) translate(5px);
}

/* MENU */
nav {
  width: 100%;
  background-color: var(--color-destacado);
}

.nav-container {
  position: relative;
}

.nav-container ul {
  background-color: var(--color-destacado);
  width: 200px;
  list-style: none;
  font-family: var(--font-destacado);
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
}

.nav-container ul.mostrar {
  height: auto;
}

.nav-container ul li {
  margin: 0 0.5rem;
}

.nav-container ul li a {
  color: white;
  display: inline-block;
  padding: 0.5rem;
}

.nav-container ul li a:hover {
  color: var(--color-bg);
}

@media screen and (min-width: 540px) {
  .main-header {
    padding: 1rem 0;
  }

  .burger {
    padding: 0;
  }

  .top-logo {
    width: 300px;
  }
}
@media screen and (min-width: 728px) {
  .main-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-logo {
    width: 400px;
  }

  .burger {
    display: none;
  }

  .nav-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    font-family: var(--font-destacado);
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    position: static;
    height: auto;
    overflow: visible;
  }
  .nav-container ul li {
    margin: 0 0.5rem;
  }
}
.main-footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid var(--color-destacado);
}
.main-footer p {
  font-family: var(--font-destacado);
  font-size: 0.9rem;
  line-height: 1.5em;
}

.main-container {
  width: 100%;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

/* CONTENIDO --> APERTURA PRINCIPAL */
.about {
  background-image: url("images/alegato-cenital.jpg");
  padding: 50% 5% 5% 5%;
}
.about h1 {
  border-radius: 3px;
  padding: 0 0.5rem;
  display: inline;
  font-size: 2.4rem;
  text-align: center;
  background: rgba(var(--color-alfa-b), 0.5);
  border: 1px solid rgba(var(--color-alfa-a), 0.15);
}

@media screen and (min-width: 728px) {
  .about {
    padding: 30% 10% 5% 10%;
  }
  .about h1 {
    font-size: 3rem;
  }
}
.fotoslider__titulo {
  font-family: var(--font-destacado);
  font-size: 1.4rem;
  margin: 0.5rem 0;
  font-weight: bold;
}
.fotoslider__contenedor {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  position: relative;
}
.fotoslider__contenedor__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -100%;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.fotoslider__contenedor__slider__section {
  width: 100%;
  max-width: 100%;
  height: 0;
  position: relative;
}
.fotoslider__contenedor__slider__section img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: absolute;
}
.fotoslider__contenedor__slider__section figcaption {
  position: absolute;
  bottom: -1em;
  left: 0;
  right: 0;
  height: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: var(--font-destacado);
}
.fotoslider__contenedor__slider__section .togCheck {
  display: none;
}
.fotoslider__contenedor__slider__section .togButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  margin: 0 auto -50px auto;
  width: 70px;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(-58px);
          transform: translateY(-58px);
  margin-bottom: -50px;
  border-radius: 35px 35px 0 0;
}
.fotoslider__contenedor__slider__section .togButton:before {
  content: "";
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.fotoslider__contenedor__slider__section .togCheck:checked + figcaption {
  height: auto;
  max-height: 100%;
  bottom: 0;
}
.fotoslider__contenedor__slider__section .togCheck:checked + figcaption > .togButton:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.fotoslider__contenedor__btn {
  position: absolute;
  width: 40%;
  height: 80%;
  top: 0;
  color: transparent;
}
.fotoslider__contenedor__btn.right {
  right: 0;
}
.fotoslider__contenedor__btn.left {
  left: 0;
}
.fotoslider__lista-sliders {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fotoslider__lista-sliders .menu-sliders {
  position: relative;
  margin: 0;
  padding: 1rem;
}
.fotoslider__lista-sliders .menu-sliders__boton {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.fotoslider__lista-sliders .menu-sliders figure {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--font-destacado);
}
.fotoslider__lista-sliders .menu-sliders figure img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 40%;
  margin: 0 0.5rem 0 0;
}
.fotoslider__lista-sliders .menu-sliders figure figcaption {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
.fotoslider__lista-sliders .menu-sliders:hover {
  background: rgba(var(--color-alfa-a), 0.1);
}
.fotoslider .lista-sliders-scroll {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  position: relative;
  cursor: pointer;
}
.fotoslider__boton {
  width: 0;
  height: 0;
  overflow: hidden;
  border: none;
}
@media screen and (min-width: 728px) {
  .fotoslider__contenedor__slider__section figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    background: rgba(var(--color-alfa-b), 0.8);
    color: white;
    height: auto;
    margin: 0;
    opacity: 1;
    visibility: visible;
  }
  .fotoslider__contenedor__slider__section figcaption .togButton {
    display: none;
  }
  .fotoslider__contenedor__btn {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    width: 40px;
    height: 40px;
    background: rgba(var(--color-alfa-a), 0.5);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fotoslider__contenedor__btn.right {
    right: 10px;
  }
  .fotoslider__contenedor__btn.right:after {
    content: "";
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid black;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    margin-left: 5px;
  }
  .fotoslider__contenedor__btn.left {
    left: 10px;
  }
  .fotoslider__contenedor__btn.left:after {
    content: "";
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 18px solid black;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    margin-right: 5px;
  }
  .fotoslider__contenedor__btn:hover {
    background: white;
  }
  .fotoslider__lista-sliders {
    width: 100%;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  .fotoslider__lista-sliders.active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .fotoslider__lista-sliders::-webkit-scrollbar {
    display: none;
  }
  .fotoslider__lista-sliders .menu-sliders {
    width: 250px;
    min-width: 250px;
  }
  .fotoslider__lista-sliders .menu-sliders figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .fotoslider__lista-sliders .menu-sliders figure img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    margin: 0 0 0.3rem 0;
    border-radius: 5%;
    overflow: hidden;
  }
  .fotoslider__lista-sliders .menu-sliders figure figcaption {
    width: 100%;
  }
  .fotoslider .lista-sliders-scroll {
    height: auto;
    overflow-y: hidden;
  }
  .fotoslider__boton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(var(--color-alfa-a), 0.3);
    overflow: visible;
    position: absolute;
    z-index: 9;
    top: 40%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .fotoslider__boton:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .fotoslider__boton--left {
    left: 10px;
  }
  .fotoslider__boton--left:before {
    margin-right: 4px;
    border-width: 12px 21px 12px 0;
    border-color: transparent white transparent transparent;
  }
  .fotoslider__boton--right {
    right: 10px;
  }
  .fotoslider__boton--right:before {
    margin-left: 4px;
    border-width: 12px 0 12px 21px;
    border-color: transparent transparent transparent white;
  }
  .fotoslider__boton:hover {
    background: rgba(var(--color-alfa-a), 0.6);
  }
}