@font-face {
  font-family: "Destacado-fallback";
  size-adjust: 113.4%;
  ascent-override: 75%;
  src: local("Arial");
}
@font-face {
  font-family: "Base-fallback";
  size-adjust: 111.19%;
  ascent-override: 92%;
  src: local("Times New Roman");
}
@font-face {
  font-family: "Destacado";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-VariableFont_wght.woff") format("woff");
}
@font-face {
  font-family: "Base";
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff") format("woff");
}
@font-face {
  font-family: "Destacado";
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-Italic-VariableFont_wght.woff") format("woff");
}
@font-face {
  font-family: "Base";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.woff2") format("woff2"), url("../fonts/PlayfairDisplay-VariableFont_wght.woff") format("woff");
}
:root {
  --color-text: white;
  --color-bg: #171717;
  --color-destacado: #e13939;
  --color-alfa-a: 255,255,255;
  --color-alfa-b: 0,0,0;
  --font-general: "Base", "Base-fallback";
  --font-destacado: "Destacado", "Destacado-fallback";
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-general);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: var(--font-general);
}

a {
  text-decoration: none;
  border: none;
}

/* CONTENIDO */
.main-container {
  width: 100%;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.max-width {
  max-width: 100%;
  margin: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-color {
  background-color: var(--color-bg);
}

.bg-destacado {
  background-color: var(--color-destacado);
}

.py-1 {
  padding: 2rem 0.5rem;
}

.py-2 {
  padding: 2rem 1rem;
}

.align-center {
  text-align: center;
}

.wide {
  height: 56.25%;
  overflow: hidden;
}

.about {
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

@media screen and (min-width: 540px) {
  .max-width {
    max-width: 520px;
  }

  .py-sm-0 {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 728px) {
  .max-width {
    max-width: 720px;
  }

  .about {
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 960px) {
  .max-width {
    max-width: 954px;
  }
}
@media screen and (min-width: 1028px) {
  .max-width {
    max-width: 1024px;
  }

  h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .max-width {
    max-width: 1260px;
  }
}
/* HEADER */
.header {
  width: 100%;
  margin: auto;
}

.main-header {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.top-logo {
  width: 260px;
}

.top-logo img {
  width: 100%;
}

.burger {
  width: 50px;
  padding: 0 10px;
  cursor: pointer;
}
.burger > div {
  background: var(--color-text);
  height: 2px;
  width: 30px;
  margin: 7px 0;
}
.burger.cerrar > div:nth-child(2) {
  display: none;
}
.burger.cerrar > div:first-child {
  -webkit-transform: rotate(45deg) translate(7px);
          transform: rotate(45deg) translate(7px);
}
.burger.cerrar > div:last-child {
  -webkit-transform: rotate(-45deg) translate(5px);
          transform: rotate(-45deg) translate(5px);
}

/* MENU */
nav {
  width: 100%;
  background-color: var(--color-destacado);
}

.nav-container {
  position: relative;
}

.nav-container ul {
  background-color: var(--color-destacado);
  width: 200px;
  list-style: none;
  font-family: var(--font-destacado);
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;
}

.nav-container ul.mostrar {
  height: auto;
}

.nav-container ul li {
  margin: 0 0.5rem;
}

.nav-container ul li a {
  color: white;
  display: inline-block;
  padding: 0.5rem;
}

.nav-container ul li a:hover {
  color: var(--color-bg);
}

@media screen and (min-width: 540px) {
  .main-header {
    padding: 1rem 0;
  }

  .burger {
    padding: 0;
  }

  .top-logo {
    width: 300px;
  }
}
@media screen and (min-width: 728px) {
  .main-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-logo {
    width: 400px;
  }

  .burger {
    display: none;
  }

  .nav-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    font-family: var(--font-destacado);
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    position: static;
    height: auto;
    overflow: visible;
  }
  .nav-container ul li {
    margin: 0 0.5rem;
  }
}
.main-footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid var(--color-destacado);
}
.main-footer p {
  font-family: var(--font-destacado);
  font-size: 0.9rem;
  line-height: 1.5em;
}

.main-container {
  width: 100%;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

/* CONTENIDO --> APERTURA PRINCIPAL */
.about {
  background-image: url("images/alegato-cenital.jpg");
  padding: 50% 5% 5% 5%;
}
.about h1 {
  border-radius: 3px;
  padding: 0 0.5rem;
  display: inline;
  font-size: 2.4rem;
  text-align: center;
  background: rgba(var(--color-alfa-b), 0.5);
  border: 1px solid rgba(var(--color-alfa-a), 0.15);
}

@media screen and (min-width: 728px) {
  .about {
    padding: 30% 10% 5% 10%;
  }
  .about h1 {
    font-size: 3rem;
  }
}
.video-box {
  width: 100%;
  position: relative;
}
.video-box__player-container {
  width: 100%;
}
.video-box__player-container .video-embed {
  width: 100%;
  height: 0;
  position: relative;
}
.video-box__player-container .video-embed--16by9 {
  padding-bottom: 56.25%;
}
.video-box__player-container .video-embed > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.video-box__player-container .text-content {
  height: 170px;
  overflow: hidden;
  padding-bottom: 40px;
  position: relative;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.video-box__player-container .text-content.open {
  height: auto;
}
.video-box__player-container .text-content .abrir {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  cursor: pointer;
  z-index: 9;
  padding: 0.3rem 0.7rem 0.5rem 0.7rem;
  background: var(--color-bg);
  border-top: 1px solid rgba(var(--color-alfa-a), 0.3);
  border-bottom: 1px solid rgba(var(--color-alfa-a), 0.3);
  text-align: right;
  -webkit-box-shadow: 0 -10px 15px 0 rgba(var(--color-alfa-b), 0.8);
          box-shadow: 0 -10px 15px 0 rgba(var(--color-alfa-b), 0.8);
}
.video-box__player-container .text-content .abrir .abrir-text-content {
  background-color: var(--color-bf);
  color: white;
  font-family: var(--font-destacado);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
}
.video-box__player-container .text-content .abrir .abrir-text-content:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0 0 10px;
  border-style: solid;
  border-width: 12px 6px 0 6px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  border-color: white transparent transparent transparent;
}
.video-box__player-container .text-content .abrir .abrir-text-content.cerrar:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.video-box__player-container h3 {
  padding: 0.5rem;
}
.video-box__player-container p {
  padding: 0.5rem;
}
.video-box__lista {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  position: relative;
  cursor: pointer;
  margin: 1rem 0;
}
.video-box__lista ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.video-box__lista ul li {
  padding: 0.5rem;
  font-family: var(--font-destacado);
  font-size: 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.video-box__lista ul li img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 40%;
  margin: 0 0.5rem 0 0;
}
.video-box__lista ul li span {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
.video-box__lista ul li button {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}
.video-box__text-global {
  padding: 1rem;
}
.video-box__text-global h4 {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.video-box__text-global p {
  font-size: 1.2rem;
  line-height: 140%;
  margin: 1rem 0;
}
.video-box:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  right: 0.5rem;
  height: 20px;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 23, 23, 0)), to(rgb(23, 23, 23)));
  background-image: linear-gradient(rgba(23, 23, 23, 0), rgb(23, 23, 23));
}

@media screen and (min-width: 540px) {
  .video-box__lista ul li {
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 728px) {
  .video-box__lista ul li img {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    width: 120px;
  }
}
@media screen and (min-width: 1028px) {
  .video-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 2rem auto;
        grid-template-areas: "player lista" "descripcion lista";
    -ms-grid-columns: 2fr 2rem 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
  .video-box__lista {
    margin: 0;
    grid-area: lista;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    height: auto;
  }
  .video-box__lista::-webkit-scrollbar {
    display: none;
  }
  .video-box__lista ul li:first-of-type {
    padding-top: 0;
  }
  .video-box__player-container {
    grid-area: player;
  }
  .video-box__text-global {
    grid-area: descripcion;
  }
}
@media screen and (min-width: 1028px) {
  .video-box__lista {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
  }
  .video-box__player-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .video-box__text-global {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media screen and (min-width: 1280px) {
  .video-box {
    -ms-grid-columns: 5fr 2fr;
    grid-template-columns: 5fr 2fr;
  }
}